.map-row {
    display: flex;
    justify-content: flex-start;
}

.map-container {
    position: relative;
}

.map-statue {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 500;
    transition: left 1s, top 1s;
}